<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ddvudo.ORM.Mapper.HouseMapper">
    <select id="selectByHouseId" resultType="ddvudo.ORM.POJO.House" parameterType="String">
        select *
        from House
        where houseId = #{houseId};
    </select>
    <select id="selectCursor" resultType="java.lang.String" parameterType="String" statementType="CALLABLE">
        {call reffunc('${cursor,mode=IN}')}
    </select>
    <select id="fetchNext" resultType="ddvudo.ORM.POJO.House" parameterType="String">
        FETCH 1 from ${cursor};
    </select>
</mapper>